#tt{
	text-align:center;
	font-size: 60px;
}
#tnt{
	margin-left: auto;
	margin-right: auto;
	display:block;
}
#bommy{
	text-align:center;
}

#mm{

	text-align: center;
	color: black;
}

#k:visited {
	color: black;
}

#k:hover {
	color: blue;
}

#tt{

	text-align:center;
	font-size: 60px;
}

#tnt {
	margin-left: auto;
	margin-right: auto;
	display:block;
}

#s{
margin-left: auto;
margin-right: auto;
display: block;


}